name: Rust

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --all --all-features --verbose
      - name: Run tests
        run: cargo test --all --all-features --verbose
        env:
          INSTA_UPDATE: no
